<div id="<%= dom_id team %>">
  <div>
    <strong>Name:</strong>
    <%= team.name %>
  </div>

  <div>
    <strong>Abbreviation:</strong>
    <%= team.abbreviation %>
  </div>

  <div>
    <strong>Conference:</strong>
    <%= team.conference %>
  </div>

  <div>
    <strong>Seed:</strong>
    <%= team.seed %>
  </div>

</div>
