<div id="<%= dom_id team %>">
  <div>
    <strong>Name:</strong>
    <%= team.name %>
  </div>

  <div>
    <strong>Abbreviation:</strong>
    <%= team.abbreviation %>
  </div>

  <div>
    <strong>Conference:</strong>
    <%= team.conference %>
  </div>

  <div>
    <strong>Logo:</strong>
    <%= image_tag team.logo, width: 50, height: 50 if team.logo.attached? %>
  </div>

</div>
