<div id="<%= dom_id bracket %>">
  <div>
    <strong>Name:</strong>
    <%= bracket.name %>
  </div>

  <div>
    <strong>Season:</strong>
    <%= bracket.season %>
  </div>

  <div class="wa-grid bracket-container wa-body-l wa-font-weight-bold">

    <%# top title row %>
    <div class="wa-span-grid"><span class="wa-heading-2xl"><%= bracket.name %></span></div>
    
    <%# header row %>
    <div>East R1</div>
    <div>East R2</div>
    <div>East Conf Finals</div>
    <div>NBA Finals</div>
    <div>West Conf Finals</div>
    <div>West R2</div>
    <div>West R1</div>
 
    <%# first row %>
    <div><wa-card><%= render "bracket_series", series: first_round_series[ :eastern_0 ] %></wa-card></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div><wa-card><%= render "bracket_series", series: first_round_series[ :western_0 ] %></wa-card></div>

    <%# second row %>
    <div></div>
    <div><wa-card></wa-card></div>
    <div></div>
    <div></div>
    <div></div>
    <div><wa-card></wa-card></div>
    <div></div>

    <%# third row %>
    <div><wa-card><%= render "bracket_series", series: first_round_series[ :eastern_1 ] %></wa-card></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div><wa-card><%= render "bracket_series", series: first_round_series[ :western_1 ] %></wa-card></div>

    <%# fourth row %>
    <div></div>
    <div></div>
    <div><wa-card></wa-card></div>
    <div><wa-card></wa-card></div>
    <div><wa-card></wa-card></div>
    <div></div>
    <div></div>

    <%# fifth row %>
    <div><wa-card><%= render "bracket_series", series: first_round_series[ :eastern_2 ] %></wa-card></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div><wa-card><%= render "bracket_series", series: first_round_series[ :western_2 ] %></wa-card></div>

    <%# sixth row %>
    <div></div>
    <div><wa-card></wa-card></div>
    <div></div>
    <div></div>
    <div></div>
    <div><wa-card></wa-card></div>
    <div></div>

    <%# seventh row %>
    <div><wa-card><%= render "bracket_series", series: first_round_series[ :eastern_3 ] %></wa-card></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div><wa-card><%= render "bracket_series", series: first_round_series[ :western_3 ] %></wa-card></div>


  </div>


</div>
