<%= form_with(model: series) do |form| %>
  <% if series.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
        <% series.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :round, style: "display: block" %>
    <%= form.select :round, Series.rounds.keys.map { |r| [r.capitalize, r] } %>
  </div>

  <div>
    <%= form.label :conference, style: "display: block" %>
    <%= form.select :conference, Series.conferences.keys.map { |c| [c.capitalize, c] } %>
  </div>

  <div>
    <%= form.label :top_seed_id, style: "display: block" %>
    <%= form.collection_select :top_seed_id, Team.all, :id, :name %>
  </div>

  <div>
    <%= form.label :bottom_seed_id, style: "display: block" %>
    <%= form.collection_select :bottom_seed_id, Team.all, :id, :name %>
  </div>

  <div>
    <%= form.label :top_seed_wins, style: "display: block" %>
    <%= form.number_field :top_seed_wins %>
  </div>

  <div>
    <%= form.label :bottom_seed_wins, style: "display: block" %>
    <%= form.number_field :bottom_seed_wins %>
  </div>

  <% unless series.new_record? || (series.top_seed.blank? && series.bottom_seed.blank?) %>
    <div>
      <%= form.label :winner_id, style: "display: block" %>
      <%= form.collection_select :winner_id, [series.top_seed, series.bottom_seed], :id, :name, { include_blank: true } %>
    </div>
  <% end %>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, Series.statuses.keys.map { |s| [s.capitalize, s] } %>
  </div>

  <div>
    <%= form.label :next_game_at, style: "display: block" %>
    <%= form.datetime_field :next_game_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
