<div id="<%= dom_id series %>">
  <div>
    <strong>Round:</strong>
    <%= series.round %>
  </div>

  <div>
    <strong>Conference:</strong>
    <%= series.conference %>
  </div>

  <div>
    <strong>Top seed:</strong>
    <%= series.top_seed_id %>
  </div>

  <div>
    <strong>Bottom seed:</strong>
    <%= series.bottom_seed_id %>
  </div>

  <div>
    <strong>Top seed wins:</strong>
    <%= series.top_seed_wins %>
  </div>

  <div>
    <strong>Bottom seed wins:</strong>
    <%= series.bottom_seed_wins %>
  </div>

  <div>
    <strong>Winner:</strong>
    <%= series.winner_id %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= series.status %>
  </div>

  <div>
    <strong>Next game at:</strong>
    <%= series.next_game_at %>
  </div>

  <div>
    <strong>Season:</strong>
    <%= series.season %>
  </div>

</div>
